.additionally {
  margin: 0;
  padding-bottom: 34px;
}

.additionally__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  position: relative;
}

.additionally__title::after {
  content: "";
  position: absolute;
  left: 164px;
  top: 16px;
  width: 136px;
  height: 2px;
  background-color: #68b738;
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additionally__item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-left: 54px;
}

.additionally__item:not(:last-child) {
  padding-bottom: 24px;
}

.additionally__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

.additionally__mark {
  width: 30px;
  height: 30px;
  outline: 1px solid #cdcdcd;
  position: absolute;
  left: -56px;
  top: -6px;
}

.additionally__label:hover .additionally__mark {
  outline: 1px solid #bababa;
}

.additionally__field:disabled + .additionally__mark {
  outline: 1px solid #bababa;
  opacity: 0.3;
}

.additionally__mark::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  top: 6px;
  left: 4px;
}

.additionally__field[type="checkbox"]:checked + .additionally__mark::before {
  background-image: url("..//..//img/check-mark.svg");
}

.additionally__field:focus + .additionally__mark {
  outline: 2px solid #000000;
}

@media (min-width: @tablet-width) {
  .additionally__title {
    font-size: 36px;
    line-height: 36px;
  }

  .additionally__title::after {
    left: 252px;
    top: 22px;
    width: 100vw;
  }

  .additionally__title::before {
    content: "";
    position: absolute;
    left: calc((100vw - 100%) / -2);
    top: 22px;
    width: 100vw;
    height: 2px;
    background-color: #68b738;
    z-index: -1;
  }

  .additionally__label {
    font-size: 20px;
    line-height: 30px;
  }

  .additionally__list {
    display: grid;
    grid-template-columns: 220px 220px;
    column-gap: 124px;
  }

  .additionally__item:not(:last-child) {
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .additionally__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
