.additional-goods__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 24px 74px 36px 20px;
}

@media (min-width: @tablet-width) {
  .additional-goods {
    width: 708px;
    margin: 0 auto;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    padding: 68px 362px 80px 64px;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods {
    width: 1220px;
    margin: 0 auto;
  }

  .additional-goods__title {
    padding: 76px 990px 80px 110px;
  }
}
