.card {
  display: grid;
  margin: 0;
  padding: 20px 20px 24px 20px;
  border-bottom: 1px solid #EBEBEB;
  background-color: #FFFFFF;
}

.card__title {
  margin: 0;
  padding: 0;
}

.card__link {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
}
