.example {
  background-color: #EAEAEA;
  padding: 25px 20px 40px 20px;
  margin: 0;
}

.example__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: #ffffff;
    width: 708px;
    margin: 0 auto;
    padding: 0;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 62px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    position: relative;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .example__wrapper {
    background-color: #F2F2F2;
    width: 1440px;
    margin-left: -110px;
    padding-left: 110px;
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 74px;
  }

  .example__title  {
    margin-bottom: 76px;
  }

  .example__description {
    width: 436px;
    margin-bottom: 70px;
  }
}
