.instructions {
  background-color: #ffffff;
  padding: 0 20px 50px 20px;
  margin: 0;
}

.instructions__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.instructions__description {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.instructions__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.instructions__item {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  position: relative;
}

.instructions__item:not(:last-child) {
  margin-bottom: 26px;
}

.instructions__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  left: 0px;
}

@media (min-width: @tablet-width) {

  .instructions {
    width: 708px;
    margin: 0 auto;
  }

  .instructions__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .instructions__list {
    display: grid;
    grid-template-columns: 230px 230px;
    column-gap: 154px;
  }

  .instructions__item {
    padding: 0;
    padding-top: 82px;
  }

  .instructions__item::before {
    top: 0;
  }

}

@media (min-width: @desktop-width) {
  .instructions {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0;
  }

  .instructions__list {
    display: grid;
    grid-template-columns:  230px 230px 230px 230px;
    column-gap: 94px;
  }

  .instructions__title {
    margin-bottom: 72px;
  }
}
