.main-footer {
  display: flex;
  flex-direction: column;
}

.main-footer__map {
  border: none;
  min-height: 362px;
}

@media (min-width: @tablet-width) {
  .main-footer__map {
    min-height: 400px;
  }
}
