.main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  content: "";
  background-color: #ffffff;
  border: none;
  width: 24px;
  height: 16px;
  cursor: pointer;
}

@media (max-width: @mobile-width-only) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
