.owner-comment {
  margin: 0;
  padding: 0 20px 22px;
}

.owner-comment__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.owner-comment__field {
  margin: 0;
  padding: 10px;
  border: 1px solid #e7e7e7;
  width: 260px;
  min-height: 130px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: start;
  text-transform: uppercase;
  color: #444444;
  resize: none;
}

.owner-comment__field:focus {
  outline: 2px solid #444444;
}

@media (min-width: @tablet-width) {
  .owner-comment {
    width: 628px;
    margin: 0 auto;
    padding: 0;
  }

  .owner-comment__title {
    font-size: 36px;
    line-height: 36px;
  }

  .owner-comment__field {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .owner-comment {
    width: 1220px;
    margin: 0 auto;
  }
}
