.owner-contacts {
  margin: 0;
  padding: 26px 20px 24px;
}

.owner-contacts__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.owner-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.owner-contacts__item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owner-contacts__item:not(:last-child) {
  padding-bottom: 14px;
}

.owner-contacts__field {
  height: 46px;
  border: 1px solid #cdcdcd;
  width: 100%;
}

.owner-contacts__label {
  white-space: nowrap;
  margin-right: 14px;
}

@media (min-width: @tablet-width) {
  .owner-contacts {
    width: 628px;
    margin: 0 auto;
    padding: 0;
  }

  .owner-contacts__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: @desktop-width) {
  .owner-contacts {
    width: 1220px;
    margin: 0 auto;
  }

  .owner-contacts__list {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }
}
