.pet {
  margin: 0;
  padding: 0 20px 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.pet__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pet__item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pet__item:not(:last-child) {
  margin: 0;
  padding-bottom: 14px;
}

.pet__field {
  height: 46px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.pet__label {
  white-space: nowrap;
  margin-right: 14px;
}

.pet__field:hover {
  outline: 1px solid #cdcdcd;
}

.pet__field:focus {
  outline: 2px solid #444444;
}


@media (min-width: @tablet-width) {
  .pet {
    padding: 0;
    border: none;
  }
}
