.program-selection {
  background-color: #ffffff;
  background-image: url(..//img/licking-cat.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-selection__green-box {
  background-color: rgba(104, 183, 56, 0.85);
  min-height: 275px;
  padding-top: 28px;
}

.program-selection__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.program-selection__tagline {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 26px;
  margin: 0;
}

.program-selection__img {
  margin: 0;
  margin-top: -135px;
  padding: 0;
  text-align: center;
}

.program-selection__button {
  width: 280px;
}
