.slider__cat-slim--hidden {
  display: none;
}

@media (min-width: @tablet-width) {
  .slider {
    background-color: #eaeaea;
    text-align: center;
    width: 768px;
    margin-left: -30px;
  }

  .slider__cat-fat {
    margin: 0 auto;
    width: 560px;
    height: auto;
  }

  .slider__cat-slim {
    margin: 0 auto;
    width: 560px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    position: absolute;
    content: "";
    background-color: rgba(104, 183, 56, 0);
    text-align: center;
    width: 560px;
    height: 512px;
    margin: 0;
    left: 660px;
  }

  .slider__cat-fat {
    margin: 0 auto;
  }
}
